.login-form {
    display: flex;
    width: 100%;

    .login-text {
        flex-direction: column;
        width: 50%;
        padding: 2rem 5rem;
        h2{
            margin: 1rem 0;
        }
    }
    .email-password {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .login-btn {
        width: 88%;
        padding-top: 2rem;
        button {
            width: 100%;
        }
    }

    .login-right {
        width: 50%;
    }

}

@media only screen and (max-width: 425px) {
  
    .login-form{
        flex-direction: column;
        .login-text, .login-right {
            width: 100%;
            padding-left: 3rem;
        }
    }
    
  }
